:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html, body, #game-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#game-container canvas {
  display: block;
  width: 100%;
  height: 100%;
}
